.table-title {
    background: #299be4;
    color: #fff;
    padding: 16px 30px;
    border-radius: 3px 3px 0 0;
    text-align: center;
}

.table-title .btn {
    float: right;
    min-width: 50px;
    outline: none !important;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
}

.table thead th {
    background-color: #4CAF50 !important;
    color: #fff;
    border: 0;
    text-align: center;
}

.table tbody tr {
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.table > tbody > tr > td {
    vertical-align: middle;
    text-align: center;
}

.pa-bottom {
    padding-bottom: 0!important;
    margin-bottom: 0!important;
}


.form-group {
    display: flex;
    margin-bottom: 16px;
    flex-direction: column;
}

.form-label,
.form-message {
    text-align: left;
}

/*.form-label {*/
/*    font-weight: 700;*/
/*    padding-bottom: 6px;*/
/*    line-height: 1.8rem;*/
/*    font-size: 1.4rem;*/
/*}*/

/*.form-control {*/
/*    height: 40px;*/
/*    padding: 8px 12px;*/
/*    border: 1px solid #b3b3b3;*/
/*    border-radius: 3px;*/
/*    outline: none;*/
/*    font-size: 1.4rem;*/
/*}*/

.form-control:hover {
    border-color: #1dbfaf;
}

.form-group.invalid .form-control {
    border-color: #f33a58;
}

.form-group.invalid .form-message {
    color: #f33a58;
}

.form-message {
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding: 4px 0 0;
}

.form-submit {
    outline: none;
     background-color: #1dbfaf;
    margin-top: 12px;
    padding: 12px 16px;
    font-weight: 600;
    color: #fff;
    border: none;
    width: 100%;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
}

.form-submit:hover {
    background-color: #1ac7b6;
}

.spacer {
    margin-top: 36px;
}

.bg-body-navbar {
    background-color: #1d91e7;
}

h1.navbar-brand {
    font-size: 2.5rem;
    color: #fff;
}

#tblCustomer thead tr th {
    background-color: #459d4e;
    color: #fff;
}


.error-area {
    color: red;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #299be4;
}
footer button {
    margin: 10px;
}